body {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.picks {
  list-style: none;
}

/*.containerDimensions {
  margin: 10vh 10vh 10vh 10vh;
}*/

a {
  color: black;
}

a:visted {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  box-shadow: 4px grey;
}

.homeCard {
  height: 50vh;
  margin: 1.5vh 0;
}

.textOverflow {
  overflow: scrollbar;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card-body {
  padding-bottom: 2vh;
}

.card {
  background-color: eggplant;
  border-color: black;
}

.cardlook {
  padding: 20px 15px 20px 15px;
  margin: 20px;
}

.pad {
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
}
.sources {
  padding-bottom: 200px;
  align-items: center;
  background-color: white;
}
li a {
  display: inline;
  float: left;
  display: block;
  padding: 8px;
  background-color: black;
  color: white;
  margin-bottom: 3%;
  padding: 20px;


.source {
  display: inline-block;
}
.stuff {
  background-color: white;
}
.list-group {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.btn {
  color: black;
  background-size: 20px;
}
.containerOver {
  background-color: white;
  m
}
.change {
  background: #e52d27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white;
 padding-top: 40px;
}

.mid{
  align-items: center;
}
.yes{
  background-color: white;
}
