<div class="container">
    <div>
        <button ng-click="showAllResources()" ui-sref="news">Ready to Read</Button>
    </div>
    <h1>Categories<h1>

<div class="row">

  <div class="view overlay hm-white-slight col-lg-6">
<div class="card">
      <!--Card image-->
      <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Business</h4>
          <!--Text-->
          <p class="card-text"></p>
          <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
      </div>
    </div>
    </div>


    <div class="view overlay hm-white-slight col-lg-6">
  <div class="card">
        <!--Card image-->
        <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Business</h4>
            <!--Text-->
            <p class="card-text"></p>
            <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
        </div>
      </div>
      </div>

      <div class="view overlay hm-white-slight col-lg-6">
    <div class="card">
          <!--Card image-->
          <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Business</h4>
              <!--Text-->
              <p class="card-text"></p>
              <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
          </div>
        </div>
        </div>

        <div class="view overlay hm-white-slight col-lg-6">
      <div class="card">
            <!--Card image-->
            <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Business</h4>
                <!--Text-->
                <p class="card-text"></p>
                <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
            </div>
          </div>
          </div>
          <div class="view overlay hm-white-slight col-lg-6">
        <div class="card">
              <!--Card image-->
              <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Business</h4>
                  <!--Text-->
                  <p class="card-text"></p>
                  <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
              </div>
            </div>
            </div>

            <div class="view overlay hm-white-slight col-lg-6">
          <div class="card">
                <!--Card image-->
                <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Business</h4>
                    <!--Text-->
                    <p class="card-text"></p>
                    <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
                </div>
              </div>
              </div>
              <div class="view overlay hm-white-slight col-lg-6">
            <div class="card">
                  <!--Card image-->
                  <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Business</h4>
                      <!--Text-->
                      <p class="card-text"></p>
                      <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
                  </div>
                </div>
                </div>
                <div class="view overlay hm-white-slight col-lg-6">
              <div class="card">
                    <!--Card image-->
                    <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Business</h4>
                        <!--Text-->
                        <p class="card-text"></p>
                        <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
                    </div>
                  </div>
                  </div>
                  <div class="view overlay hm-white-slight col-lg-6">
                <div class="card">
                      <!--Card image-->
                      <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/159888/pexels-photo-159888.jpeg" alt="Card image cap">

                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">Business</h4>
                          <!--Text-->
                          <p class="card-text"></p>
                          <a  class="btn btn-primary" ng-click="toggleCategory('business')">Add</a>
                      </div>
                    </div>
                    </div>
  </div>
  </div>

<!-- <div class="picks">
    <button ng-click="toggleCategory('business')"><li>Business</li></button>
    <button ng-click="toggleCategory('entertainment')"><li>Entertainment</li></button>
    <button ng-click="toggleCategory('gaming')"><li>Gaming</li></button>
    <button ng-click="toggleCategory('general')"><li>General</li></button>
    <button ng-click="toggleCategory('music')"><li>Music</li></button>
    <button ng-click="toggleCategory('politics')"><li>Politics</li></button>
    <button ng-click="toggleCategory('science-and-nature')"><li>Science</li></button>
    <button ng-click="toggleCategory('sport')"><li>Sports</li></button>
    <button ng-click="toggleCategory('technology')"><li>Tech</li></button>
</div> -->
