<div class="container">
<div class="containerOver">

<ul ng-repeat="choice in data">
  <div>
    <button class="btn btn-elegant"ng-disabled="selectedChoices.length == 6 && !isSelected"  ng-model="isSelected" ng-click="addToSelected(choice);">


        <div class="list-group">

    <li class="list-group-item list-group-item-action change">{{choice.id}}</li>
  <li class="list-group-item list-group-item-action">{{choice.description}}</li>
</ul>
</div>
</div>
</div>


<div class="save">
<button class="btn btn-elegant "ng-click="storage()" ui-sref="home">Save</button>
</div>
</div>
