<div class="categories-container">

<h1>Categories<h1>

  <div ng-repeat="choice in allChoices">
    <input type="checkbox" ng-click="addTo(pick)">
    {{choice.category}}
  </div>
  <button ng-click="showMeThaChoices()">submit</button>

  <button ng-click="getSources()">CLICK</button>



    <button><li>Business</li></button>
    <button><li>Entertainment</li></button>
    <button><li>Gaming</li></button>
    <button><li>General</li></button>
    <button><li>music</li></button>
    <button><li>Polotics</li></button>
    <button><li>Science</li></button>
    <button><li>Sports</li></button>
    <button><li>Tech</li></button>





</div>
