<div class="container">



<div class="row">

  <div class="view overlay hm-white-slight col-lg-4 pad">
<div class="card">
      <!--Card image-->
      <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/140945/pexels-photo-140945.jpeg" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Business</h4>
          <!--Text-->
          <p class="card-text"></p>
          <a  class="btn btn-elegant" ng-click="toggleCategory('business')">Add</a>
      </div>
    </div>
    </div>


    <div class="view overlay hm-white-slight col-lg-4 pad">
  <div class="card">
        <!--Card image-->
        <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/265685/pexels-photo-265685.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Entertainment</h4>
            <!--Text-->
            <p class="card-text"></p>
            <a  class="btn btn-elegant" ng-click="toggleCategory('entertainment')">Add</a>
        </div>
      </div>
      </div>

      <div class="view overlay hm-white-slight col-lg-4 pad">
    <div class="card">
          <!--Card image-->
          <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/139038/pexels-photo-139038.jpeg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Gaming</h4>
              <!--Text-->
              <p class="card-text"></p>
              <a  class="btn btn-elegant" ng-click="toggleCategory('gaming')">Add</a>
          </div>
        </div>
        </div>

        <div class="view overlay hm-white-slight col-lg-4 pad">
      <div class="card">
            <!--Card image-->
            <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/158651/news-newsletter-newspaper-information-158651.jpeg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">General</h4>
                <!--Text-->
                <p class="card-text"></p>
                <a  class="btn btn-elegant" ng-click="toggleCategory('general)">Add</a>
            </div>
          </div>
          </div>
          <div class="view overlay hm-white-slight col-lg-4 pad">
        <div class="card">
              <!--Card image-->
              <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/257904/pexels-photo-257904.jpeg" alt="Card image cap">

              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Music</h4>
                  <!--Text-->
                  <p class="card-text"></p>
                  <a  class="btn btn-elegant" ng-click="toggleCategory('music')">Add</a>
              </div>
            </div>
            </div>

            <div class="view overlay hm-white-slight col-lg-4 pad">
          <div class="card">
                <!--Card image-->
                <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/6895/sunset-flag-america-fields.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Politics</h4>
                    <!--Text-->
                    <p class="card-text"></p>
                    <a  class="btn btn-elegant" ng-click="toggleCategory('politics')">Add</a>
                </div>
              </div>
              </div>
              <div class="view overlay hm-white-slight col-lg-4 pad">
            <div class="card">
                  <!--Card image-->
                  <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/163125/board-printed-circuit-board-computer-electronics-163125.jpeg" alt="Card image cap">

                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Science-Nature</h4>
                      <!--Text-->
                      <p class="card-text"></p>
                      <a  class="btn btn-elegant" ng-click="toggleCategory('science-and-nature')">Add</a>
                  </div>
                </div>
                </div>
                <div class="view overlay hm-white-slight col-lg-4 pad">
              <div class="card">
                    <!--Card image-->
                    <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/139762/pexels-photo-139762.jpeg" alt="Card image cap">

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Sports</h4>
                        <!--Text-->
                        <p class="card-text"></p>
                        <a  class="btn btn-elegant" ng-click="toggleCategory('sports')">Add</a>
                    </div>
                  </div>





  </div>
  <div class="view overlay hm-white-slight col-lg-4 pad">
<div class="card">
      <!--Card image-->
      <img class="img-fluid img-card-top" src="https://static.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Tech</h4>
          <!--Text-->
          <p class="card-text"></p>
          <a  class="btn btn-elegant" ng-click="toggleCategory('technology')">Add</a>
      </div>
    </div>


    <div>
        <button class="btn btn-elegant mid"ng-click="showAllResources()" ui-sref="news">Ready to Read</Button>
    </div>
  </div>

<!-- <div class="picks">
    <button ng-click="toggleCategory('business')"><li>Business</li></button>
    <button ng-click="toggleCategory('entertainment')"><li>Entertainment</li></button>
    <button ng-click="toggleCategory('gaming')"><li>Gaming</li></button>
    <button ng-click="toggleCategory('general')"><li>General</li></button>
    <button ng-click="toggleCategory('music')"><li>Music</li></button>
    <button ng-click="toggleCategory('politics')"><li>Politics</li></button>
    <button ng-click="toggleCategory('science-and-nature')"><li>Science</li></button>
    <button ng-click="toggleCategory('sport')"><li>Sports</li></button>
    <button ng-click="toggleCategory('technology')"><li>Tech</li></button>
</div> -->
